**Splitting dependent and independent variable**

In [1]:
import pandas as pd

In [3]:
data=pd.read_csv('/content/drive/MyDrive/data/Admission_Predict.csv')

In [4]:
data.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

**Independent Variable**

In [10]:
x=data.iloc[:,1:7]

In [12]:
x

     GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA
0          337          118                  4  4.5   4.5  9.65
1          324          107                  4  4.0   4.5  8.87
2          316          104                  3  3.0   3.5  8.00
3          322          110                  3  3.5   2.5  8.67
4          314          103                  2  2.0   3.0  8.21
..         ...          ...                ...  ...   ...   ...
395        324          110                  3  3.5   3.5  9.04
396        325          107                  3  3.0   3.5  9.11
397        330          116                  4  5.0   4.5  9.45
398        312          103                  3  3.5   4.0  8.78
399        333          117                  4  5.0   4.0  9.66

[400 rows x 6 columns]

**Dependent Variable**

In [13]:
y=data.iloc[:,8]

In [14]:
y

0      0.92
1      0.76
2      0.72
3      0.80
4      0.65
       ...
395    0.82
396    0.84
397    0.91
398    0.67
399    0.95
Name: Chance of Admit , Length: 400, dtype: float64